
header {
    display: flex;
    height: fit-content;
    width: 100%;
}

.logo {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-image img {
    display: block;
    width: 50px;
}

.logo-text {
    padding-left: 14px;
}

.logo-suptitle {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.38em;
    line-height: 1.25;
    font-weight: bold;
    padding-bottom: 1px;
    color: var(--blue-color);
}

.logo-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.1875;
    color: var(--black-color);
}

.faculty {
    padding: 10px 20px;
    margin: 10px 0px;
    text-align: left;
    border-left: 1px solid var(--gray-color) ;
}

.faculty-name {
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 0.1em;
    margin-top: 2px;
    margin-bottom: 1px;
    color: var(--black-color);
}

.department-name {
    font-weight: 600;
    font-size: 19px;
    color: var(--black-color);
}

