

.ag-theme-alpine {
    margin: 0px 20px;
    min-height: 261px;
}

.ag-header-container {
    font-size: 18px;
    font-weight: bold;
}

.leader-table-cell {
    text-align: left;
    padding-left: 17px;
    font-size: 19px;
    font-weight: 600;
}
