

.ag-theme-alpine {
    margin: 0px 40px;
    min-height: 261px;
}

.ag-header-cell-text {
    color: white;
}

.ag-header-container {
    font-size: 18px;
    font-weight: bold;
    background: var(--blue-color);
    color: white !important;
}

.leader-table-cell {
    text-align: left;
    padding-left: 17px;
    font-size: 19px;
    font-weight: 600;
}
