
:root {
    --blue-color: #176DEA;
    --blue-color-hover: #1562D3;
    --black-color: #292C33;
    --gray-color: #A2A3A3;

}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('./fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('./fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.App {
    text-align: center;
    display: flex;
    height: 100vh;
    font-family: Gilroy;
    flex-direction: column;
}

.main-content {
    display: flex;
    height: 100%;
}

.information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.information .content {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.form {
    width: 25%;
}

.form-container {
    padding: 0 10px;
    border-left: 1px solid var(--gray-color);
}


.Leaders-table-container {
    align-self: center;
    height: 30%;
    width: 30%;
}

.Map-container {
    /*flex-grow: 1;*/

    display: flex;
    justify-content: center;
}

.Map-container svg {
    height: 100%;
}

#hide-checkbox {
    display: none;
}

.hide-button-container {
    width: 40px;
}

.hide-button {
    display: block;
    width: 100%;
    margin-top: 100px;

    padding: 14px 0;
    border-radius: 21px 0 0 21px;
    font-size: 24px;
    background: var(--blue-color);
    color: #FFFFFF;
    line-height: 1.5;
    font-weight: 600;
    cursor: pointer;
}

.off {
    display: none;
}

#hide-checkbox:checked~.hide-button-container .off {
    display: inline;
}

#hide-checkbox:checked~.hide-button-container .on {
    display: none;
}

#hide-checkbox:checked~.form {
    display: none;
}





